{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
 <!--AboutMe Section-->
        <section class="about section">
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h2>About Me</h2>
              </div>
            </div>
              <div class="row">
                  <div class="about-content">
                      <div class="row">
                          <div class="about-text">
                              <h3>I am Tomasz Pasternak and <span>Python Freelancer</span></h3>
                              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore
                                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                                  cillum dolore eu fugiat nulla pariatur.
                              </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="personal-info">
                              <div class="row">
                                  <div class="info-item">
                                      <p>Location : <span>Cracow / Remote</span></p>
                                  </div>
                                  <div class="info-item">
                                      <p>University : <span>AGH University of Science and Technology</span></p>
                                  </div>
                                  <div class="info-item">
                                      <p>Degree : <span>Automation and Robotics Engineer</span></p>
                                  </div>
                                  <div class="info-item">
                                      <p>Hobby : <span>Programming, Football, Formula One, Workout, Cars</span></p>
                                  </div>
                              </div>
                          </div>
                          <div class="skills">
                              <div class="button-show-skills" >
                                  <a href="{% url 'skills'%}" class="btn" >Show Skills</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <!--AboutMe Section End-->
{% endblock %}