{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'portfolio/loading.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/skins/havefun.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "portfolio/logo/favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "portfolio/logo/favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "portfolio/logo/favicon_io/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "portfolio/logo/favicon_io//site.webmanifest" %}">


    <title>Python developer!</title>
  </head>
  <body>

    <!--  Main container-->
    <div class="main-container">
    <!--Sticky Navbar-->
        <header>
<!--            <a href="#" class="logo">LOGO</a>-->
            <ul>
                <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home"></i> Home</a> </li>
                <li><a href="{% url 'about' %}"><i class="fa fa-user"></i> About me</a> </li>
                <li><a href="{% url 'projects' %}"><i class="fa fa-briefcase"></i> Projects</a> </li>
                <li><a href="#"><i class="fa fa-book"></i> Blog</a> </li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-comments"></i> Contact</a> </li>
            </ul>
        </header>
    <!--Sticky Navbar End-->

    <!-- Mobile Hamburger -->

<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click receiver,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.
    -->
    <span></span>
    <span></span>
    <span></span>


    <ul id="menu">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About Me</li></a>
        <a href="#"><li>Projects</li></a>
        <a href="#"><li>Blog</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>

    <!-- Mobile Hamburger End -->


      <!--  Main content-->
      <div class="main-content">
        {% block content %}


        {% endblock %}
      </div>
      <!--  Main content end-->
    </div>
  <!--  Main container end-->


  </body>
</html>



