{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'portfolio/loading.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/skins/havefun.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "portfolio/logo/favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "portfolio/logo/favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "portfolio/logo/favicon_io/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "portfolio/logo/favicon_io//site.webmanifest" %}">


    <title>Python developer!</title>
  </head>
  <body>

    <!--  Main container-->
    <div class="main-container">
    <!--Sticky Navbar-->
        <header>
<!--            <a href="#" class="logo">LOGO</a>-->
            <ul>
                <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home"></i> Home</a> </li>
                <li><a href="{% url 'about' %}"><i class="fa fa-user"></i> About me</a> </li>
                <li><a href="{% url 'projects' %}"><i class="fa fa-briefcase"></i> Projects</a> </li>
                <li><a href="#"><i class="fa fa-book"></i> Blog</a> </li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-comments"></i> Contact</a> </li>
            </ul>
        </header>
    <!--Sticky Navbar End-->

    <!--Aside-->
<!--      <div class="aside" hidden>-->
<!--      &lt;!&ndash;Logo&ndash;&gt;-->
<!--        <div class="logo">-->
<!--          <img class="logo_image" src="{% static 'portfolio/logo/500x500gradientSzary.jpg' %}" alt="Logo">-->
<!--            <video class="logo_image" autoplay loop muted>-->
<!--            <source src="{% static 'portfolio/logo/logo_efc_v4.mp4' %}" type="video/mp4">-->
<!--            </video>-->
<!--        </div>-->
<!--      &lt;!&ndash;Nav Toggle Button&ndash;&gt;-->
<!--        <div class="nav-toggle">-->
<!--          <span></span>-->
<!--        </div>-->
<!--      &lt;!&ndash;Nav&ndash;&gt;-->
<!--        <ul class="nav">-->
<!--          <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home"></i> Home</a> </li>-->
<!--          <li><a href="{% url 'about' %}"><i class="fa fa-user"></i> About me</a> </li>-->
<!--          <li><a href="{% url 'projects' %}"><i class="fa fa-briefcase"></i> Projects</a> </li>-->
<!--          <li><a href="#"><i class="fa fa-book"></i> Blog</a> </li>-->
<!--          <li><a href="{% url 'contact' %}"><i class="fa fa-comments"></i> Contact</a> </li>-->
<!--          <br><br>-->
<!--          <li><a href="https://www.linkedin.com/in/tomasz-pasternak-pth-at-rb/" target="_blank"><i class="fa fa-linkedin-square"></i> Linkedin</a> </li>-->
<!--        </ul>-->
<!--      &lt;!&ndash;Copyright&ndash;&gt;-->
<!--        <div class="copyright-text">-->
<!--          &copy; 2020 Tomasz Pasternak-->
<!--        </div>-->
<!--      </div>-->
      <!--Aside end-->

      <!--  Main content-->
      <div class="main-content">
        {% block content %}


        {% endblock %}
      </div>
      <!--  Main content end-->
    </div>
  <!--  Main container end-->


  </body>
</html>



