{% extends 'portfolio/base.html' %}

{% block content %}
<!--ContactForm Section-->
 <section class="about section">
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h2>Contact Me</h2>
              </div>
            </div>
              <div class="row">
                  <div class="about-content">
                      <div class="row">
                          <div class="about-text">
                              <h3>I will reply to your message as soon as possible </h3>
                          </div>
                      </div>
                  </div>
              </div>
                <!--Form -->
              <div class="row">
                  <!--contact-info-item-->
                  <div class="contact-info-item">
                      <div class="icon"><i class="fa fa-envelope"></i> </div>
                      <h4>Email</h4>
<!--                      <p>t.pasternak94@gmail.com</p>-->
                  </div>
                  <!--contact-info-item end-->

                  <div class="container-form">
                      <div class="row">
                          <form class="contact-form" method="post">
                            {% csrf_token %}
                              <div class="row">
                                <div class="form-item-above">
                                    <div class="form-group">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="form-item-above">
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="form-item-above">
                                    <div class="form-group">
                                        {{ form.subject }}
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="form-item-below">
                                    <div class="form-group">
                                        {{ form.message }}
                                    </div>
                                </div>
                              </div>
                              <div class="submit_raw">
                                  <button type="submit" class="btn-form">Send Message</button>
                              </div>
                          </form>
                      </div>
                  </div>

                <!--Form End-->
              </div>
          </div>
 </section>
<!--ContactForm Section End-->
{% endblock %}