{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
        <!--Home Section-->
        <section class="home-section">
          <div class="container">
            <div class="intro">
              <img src="{% static 'portfolio/logo/500x500gradientSzary.jpg' %}" alt="profile" class="shadow-dark">
                   <h1>Tomasz Pasternak</h1>
                    <p>Python freelancer</p>
                    <div class="social-media">
                      <a href="#" class="near ld ld-heartbeat"></a>
                      <a href="https://www.linkedin.com/in/tomasz-pasternak-pth-at-rb/" target="_blank" class="ln-blue"><i class="fa fa-linkedin-square"></i> </a>
                      <a href="#" class="near ld ld-heartbeat"> </a>
                    </div>
            </div>
          </div>
        </section>
        <!--Home Section End-->
{% endblock %}


<!--          <h1>It is a home site!</h1>-->
<!--    <a href="{% url 'blog:all_blogs' %}">BLOG</a><br>-->
<!--    <img src="{% static 'portfolio/bo2.jpg' %}" alt="boisko" height="400" width="650">-->
<!--    {% for project in projects %}-->
<!--    <h2> {{project.title}} </h2>-->
<!--    <p> {{project.description}} </p>-->
<!--    <img src="{{project.image.url}}" height=200 width=300>-->
<!--    {% if project.url %}-->
<!--    <br><a target="_blank" href="{{project.url}}">Link</a>-->
<!--    {% endif %}-->
<!--    {% endfor %}-->