{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
 <!--Skills Site Section-->
        <section class="about section">
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h2>What I Use?</h2>
              </div>
            </div>
              <div class="row">
                  <div class="about-content">
                       <div class="row">
                          <div class="skills-text">
                              <p>"Science is magic that works" ― Kurt Vonnegut</p>
                          </div>
                      </div>

                      <div class="row">
                          <div class="skills-container-animation">
                              <div class="line-show-skills-above" >
                                  <p class="line_above ld ld-damage" style="animation-duration:8s"></p>
                              </div>
                          </div>
                          <div class="skill-info">
                              <div class="row">
                                  <div class="skill-item">
                                      {% for tech in my_skill %}
                                      <p class="my_skills">{{ tech }}</p>
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                          <div class="skills-container-animation">
                              <div class="line-show-skills-below" >
                                  <p class="line_below ld ld-damage" style="animation-duration:8s"></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <!--Skills Site Section End-->
{% endblock %}