{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
 <!--Skills Site Section-->
        <section class="about section">
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h2>What I Use?</h2>
              </div>
            </div>
              <div class="row">
                  <div class="about-content">

                      <div class="row">
                          <div class="skills-container-animation">
                              <div class="button-show-skills" >
                                  <p class="line ld ld-damage" style="animation-duration:6s"></p>
                              </div>
                          </div>
                          <div class="skill-info">
                              <div class="row">
                                  <div class="skill-item">
                                      {% for tech in my_skill %}
                                      <p class="my_skills">{{ tech }}</p>
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                          <div class="skills-container-animation">
                              <div class="button-show-skills" >
                                  <p class="line ld ld-damage" style="animation-duration:6s"></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <!--Skills Site Section End-->
{% endblock %}