
.aside .nav li a.active,
.contact-info-item .icon .fa,
.about-text h3 span,
.aside .nav li a:hover{
	color: #ff0000;
}
.btn{
	/*background: #ff0000;*/
	/*background: linear-gradient(205deg, #FF0000 0%, #2A2325 100%) no-repeat 50% 50% / 100% 100%;*/
}

.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after,
.home-section .intro .social-media a{
	background-color: #272f32;
	/*background-color: red;*/
}

.form-field-control-above:hover,
.form-field-control-below:hover{
-webkit-box-shadow: 0px 0px 14px #ccdced;
-moz-box-shadow: 0px 0px 14px #ccdced;
box-shadow: 0px 0px 14px #ccdced; 
}