header ul li a.active{
		color:#9708CC;
		font-weight: bold;

}


.home-section .intro .social-media a{
	/*background-color: #b0afab;*/
	background-color: white;
}

.form-field-control-above:hover,
.form-field-control-below:hover{
-webkit-box-shadow: 0px 0px 14px #ccdced;
-moz-box-shadow: 0px 0px 14px #ccdced;
box-shadow: 0px 0px 14px #ccdced; 
}